* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #998235;
}
.main-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.face {
  display: flex;
}
.circle-left {
  height: 500px;
  width: 250px;
  border-radius: 100%;
  background: #0b2429;
  margin-right: -50px;
  position: relative;
  z-index: -1;
  border: 70px solid #1a4341;
  border-right: 0;
}
.circle-mid {
  height: 500px;
  width: 500px;
  border-radius: 100%;
  background: #1a4341;
}
.circle-right {
  height: 500px;
  width: 250px;
  border-radius: 100%;
  background: #0b2429;
  margin-left: -50px;
  position: relative;
  z-index: -1;
  border: 70px solid #1a4341;
  border-left: 0;
}
.eyes {
  display: flex;
  justify-content: center;
  margin-top: 250px;
}
.right-eye {
  width: 120px;
  height: 60px;
  border-radius: 0 0 100px 100px;
  background: #0b2429;
  border: 30px solid #998235;
  border-top: 0;
  margin-left: 25px;
}
.left-eye {
  width: 120px;
  height: 60px;
  border-radius: 0 0 100px 100px;
  background: #0b2429;
  border: 30px solid #998235;
  border-top: 0;
  margin-right: 25px;
}
.mouth-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}
.mouth {
  height: 20rem;
  width: 70px;
  border-top-right-radius: 99px;
  border-top-left-radius: 99px;
  background: #0b2429;
  position: absolute;
  z-index: 1;
}
.teeth {
  height: 300px;
  width: 150px;
  background-color: transparent;
  border: 55px solid #eee;
  border-top-left-radius: 300px;
  border-bottom-left-radius: 300px;
  border-right: 0;
  transform: rotate(90deg);
}
/* colors
bg #998235
light #1A4341
dark #0B2429 */
